[submodule "ThirdParty/GLFW"]
	path = ThirdParty/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Engine/ThirdParty/GLFW"]
	path = Engine/ThirdParty/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Engine/ThirdParty/glm"]
	path = Engine/ThirdParty/glm
	url = https://github.com/g-truc/glm
[submodule "Engine/ThirdParty/IMGUI"]
	path = Engine/ThirdParty/IMGUI
	url = https://github.com/TheCherno/imgui
[submodule "Test/googletest"]
	path = Test/googletest
	url = https://github.com/google/googletest.git